In [9]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import pandas as pd
import requests
import pymongo

In [10]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=True)

In [ ]:
nasa_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(nasa_url)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

mars_news_title = soup.find_by_tag('div', class_='image_and_description_container')
mars_news_title

TypeError: 'NoneType' object is not callable

In [ ]:
mars_news_title = soup.find('div', class_='image_and_description_container').h3.text

In [ ]:
mars_news_title

In [ ]:
# nasa_headline = mars_news_title.a.text
nasa_p = mars_news_title.find('div', class_="article_teaser_body").text
print(nasa_p)

In [ ]:
mars_news_title.a.text

In [40]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)
time.sleep(2)

NameError: name 'time' is not defined

In [41]:
browser.find_by_id('full_image').click()
browser.click_link_by_partial_text('more info')

C:\Users\Amber\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [ ]:

image_deets = soup.find_all('img', class_="fancybox-image")
image_deets = image_deets[0]
featured_image_url = "https://www.jpl.nasa.gov/" + image_deets["src"] 
print(featured_image_url)

In [42]:
image_deets = browser.find_by_css('img.main_image')['src']
image_deets

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23436_hires.jpg'

In [28]:
mars_facts_table = pd.read_html("https://space-facts.com/mars/")
mars_facts_table = mars_facts_table[2]
mars_facts_table = mars_facts_table.rename(columns={0: "Category", 1: "Mars Details"})
mars_facts_table = mars_facts_table.set_index("Category")
mars_facts_table.to_html()

               Category                   Mars Details
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
mars_facts_table=mars_facts_table.set_index("Category")
mars_facts_table

                                       Mars Details
Category
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
table_url = 'https://space-facts.com/mars/'
browser.visit(table_url)
table_deets = soup.find_all('table', class_="tablepress tablepress-id-p-mars")
mars_table_data = table_deets[0]

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [ ]:
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemis_url) 
browser.click_link_by_partial_text('Cerberus')

In [ ]:
hemis_html = browser.html
soup = BeautifulSoup(hemis_html, 'html.parser')

In [ ]:
# hemis = ["Cerberus", "Schiaparelli", "Marineris", "Syrtis"]
cerberus = {}
schiaparelli = {}
marineris = {}
syrtis = {}

In [ ]:
title_class = soup.find("div", class_="content")
cerberus.update({"title": title_class.h2.text})

In [ ]:
cerberus_image = soup.find_all("li")

for i in cerberus_image:
    if "full" in i.a["href"]:
        cerberus.update({"img_url": i.a["href"]})

In [ ]:
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemis_url) 
browser.click_link_by_partial_text('Schiaparelli')
hemis_html = browser.html
soup = BeautifulSoup(hemis_html, 'html.parser')

In [ ]:
title_class = soup.find("div", class_="content")
schiaparelli.update({"title": title_class.h2.text})

In [ ]:
schiaparelli_image = soup.find_all("li")

for i in schiaparelli_image:
    if "full" in i.a["href"]:
        schiaparelli.update({"img_url": i.a["href"]})

In [ ]:
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemis_url) 
browser.click_link_by_partial_text('Marineris')
hemis_html = browser.html
soup = BeautifulSoup(hemis_html, 'html.parser')

In [ ]:
title_class = soup.find("div", class_="content")
marineris.update({"title": title_class.h2.text})

In [ ]:
marineris_image = soup.find_all("li")

for i in marineris_image:
    if "full" in i.a["href"]:
        marineris.update({"img_url": i.a["href"]})

In [ ]:
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemis_url) 
browser.click_link_by_partial_text('Syrtis')
hemis_html = browser.html
soup = BeautifulSoup(hemis_html, 'html.parser')

In [ ]:
title_class = soup.find("div", class_="content")
syrtis.update({"title": title_class.h2.text})

In [ ]:
syrtis_image = soup.find_all("li")

for i in syrtis_image:
    if "full" in i.a["href"]:
        syrtis.update({"img_url": i.a["href"]})

In [ ]:
mars_data = [cerberus, schiaparelli, marineris, syrtis]
print(mars_data)

In [ ]:
mars_scrape = {"hemispheres":mars_data,"table_data": mars_facts_table, "jpl_image": featured_image_url, "nasa_news": [nasa_headline, nasa_p]}
mars_scrape

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
db = client.mars_information
collection = db.mars_db

In [ ]:
db.mars_db.insert(mars_scrape)